
p, li, img, h2 {
    border: 2px solid red;
}

h2 {
    text-align: center;
}

#container {
    width: 300px;
    margin:auto
}

body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2 {
    text-align: center;
    font-family: 'Rock Salt';
}
h2:hover {
    background-color: gold;
}
p {
    padding-left: 60px;
}